<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->


    <!-- Used for portlets
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
        .classHeader{
            font-size: 13pt;


        }
        .classUnits, .classInstructor, .classTime{
            font-size:  small;

            display: none;
        }
        .classUnits{

            float: right;
            display: none;
        }


        .connectedSortable {
            list-style-type: none;
            margin: 0;
            padding: 0 0 2.5em;
            float: left;
            margin-right: 10px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 20px;
            font-size: small;
        }

        .ui-state-default {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            background-color: white;
            border-color: black;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(221, 221, 221);
            border-left-style: solid;
            border-left-width: 1px;
            border-right-color: rgb(221, 221, 221);
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: rgb(221, 221, 221);
            border-top-style: solid;
            border-top-width: 1px;
            text-align: left;
            vertical-align: top;

        }

        .ui-state-highlight {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            background-color: black;
            text-align: left;
            vertical-align: top;
            color: white;

        }


        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .schedule{

        }

        .schedule h2 {
            text-align: center;

        }

    </style>


{#    <script src="/static/js/jquery.js"></script>#}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">


     <!-- for top dragable ui lists -->
    <script>
        $(function() {
            $( "#sortable1, #sortable2, #sortable3, #sortable4" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
{#    Code For Hiding Elements#}
    <script>
        $(document).ready(function() {
            $("#ViewInstructor").click(function () {
                $(".classInstructor").toggle();
                if ( $("span", this).text() == "View Instructor"){
                    $("#ViewInstructor span").text("Hide Instructor");
                }
                else $("span", this).text("View Instructor");
                return false;
            });

            $("#ViewTime").click(function () {
                $(".classTime").toggle();
                if ( $("span", this).text() == "View Time"){
                    $("#ViewTime span").text("Hide Time");
                }
                else $("span", this).text("View Time");
                return false;
            });

            $("#ViewUnits").click(function () {
                $(".classUnits").toggle();
                if ( $("span", this).text() == "View Units"){
                    $("#ViewUnits span").text("Hide Units");
                }
                else $("span", this).text("View Units");
                return false;
            });

        });
    </script>


</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3">
            <div style="background-color: beige">
            <h2>News + Info</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus a cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <h2>Major Progress</h2>
            <div class="progress progress-striped">
                <div class="bar" style="width: 20%;"></div>
            </div>
            <h2>Additional Notes:</h2>
            <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any ri
                ght to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
            </div>
        </div>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="span9">
            <div style="background-color: beige">
            <div class="row">
                <p>
                    <a href="#" class="btn  btn-small">Overview &raquo;</a>
                    <a href="#" class="btn  btn-small">Print &raquo;</a>
                    <a href="#" class="btn  btn-small">Edit &raquo;</a>
                </p>
                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" id="ViewInstructor" class="btn"><span class="ui-button-text">View Instructor</span> </button>
                    <button type="button" id="ViewTime" class="btn"><span class="ui-button-text">View Time</span> </button>
                    <button type="button" id="ViewUnits" class="btn"><span class="ui-button-text">View Units</span> </button>

                </div>
                <button  class="btn"></button>
            </div>

            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p></p>
            </div>
            <div class="row">
                <h3 class="schedule" style="text-align:center;" > 2012 - 2013 </h3>


            </div>

                <div class="span9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Fall</th>
                            <th>Winter</th>
                            <th>Spring</th>
                            <th>Summer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <ul id="sortable1" class="connectedSortable">
                                    <li class="ui-state-default">
                                        <div class="classHeader">PHYS 5A <span class="classUnits badge badge-success">1</span><br></div>
                                        <div class="classInstructor">Instructor Name<br></div>
                                        <div class="classTime">MWF 12-2pm<br></div>

                                    </li>
                                    <li class="ui-state-default">
                                        <div class="classHeader">PHYS 5L <span class="classUnits badge badge-success">1</span><br></div>
                                        <div class="classInstructor">Lab Instructor Name<br></div>
                                        <div class="classTime">TH 8:30am-10am<br></div>

                                    </li>
                                        <li class="ui-state-default">
                                        <div class="classHeader">CMPS 12B <span class="classUnits badge badge-success">5</span><br></div>
                                        <div class="classInstructor">W. Mackey<br></div>
                                        <div class="classTime">T/TH 5-6:45pm<br></div>

                                    </li>
                                    <li class="ui-state-default">
                                        <div class="classHeader">CMPS 12L <span class="classUnits badge badge-success">2</span> </div>
                                        <div class="classInstructor">W. Mackey<br></div>
                                        <div class="classTime">TBA<br></div>

                                    </li>
                                    <li class="ui-state-default">
                                        <div class="classHeader">CMPE 16 <span class="classUnits badge badge-success">5</span><br></div>
                                        <div class="classInstructor">T. Larabee<br></div>
                                        <div class="classTime">MWF 9:30-10:40am<br></div>

                                    </li>
                                </ul>



                            </td>
                            <td>
                                <ul id="sortable2" class="connectedSortable">
                                <li class="ui-state-highlight" style>HCI 131</li>
                                <li class="ui-state-highlight">CMPS101</li>
                                <li class="ui-state-highlight">Math 21</li>
                            </ul>
                            </td>
                            <td>
                                <ul id="sortable3" class="connectedSortable">
                                <li class="ui-state-default">DANM </li>
                                <li class="ui-state-default">PHYSC 5C/L</li>
                                <li class="ui-state-default">AMS 20</li>
                            </ul>
                            </td>
                            <td>
                                <ul id="sortable4" class="connectedSortable">
                                    <li class="ui-state-default">Summer Session Stuff</li>
                                    <li class="ui-state-default">PHYSC 5C/L</li>
                                    <li class="ui-state-default">AMS 20</li>
                                </ul>
                            </td>
                        </tr>




                        </tbody>
                    </table>



                    <div class="column">

                        <div class="portlet">
                            <div class="portlet-header">Feeds</div>
                            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        </div>

                        <div class="portlet">
                            <div class="portlet-header">News</div>
                            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        </div>

                    </div>

                    <div class="column">

                        <div class="portlet">
                            <div class="portlet-header">Shopping</div>
                            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        </div>

                    </div>

                    <div class="column">

                        <div class="portlet">
                            <div class="portlet-header">Links</div>
                            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        </div>

                        <div class="portlet">
                            <div class="portlet-header">Images</div>
                            <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                        </div>

                    </div>


                </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="/static/js/bootstrap-transition.js"></script>#}
{#<script src="/static/js/bootstrap-alert.js"></script>#}
{#<script src="/static/js/bootstrap-modal.js"></script>#}
{#<script src="/static/js/bootstrap-dropdown.js"></script>#}
{#<script src="/static/js/bootstrap-scrollspy.js"></script>#}
{#<script src="/static/js/bootstrap-tab.js"></script>#}
{#<script src="/static/js/bootstrap-tooltip.js"></script>#}
{#<script src="/static/js/bootstrap-popover.js"></script>#}
{#<script src="/static/js/bootstrap-button.js"></script>#}
{#<script src="/static/js/bootstrap-collapse.js"></script>#}
{#<script src="/static/js/bootstrap-carousel.js"></script>#}
{#<script src="/static/js/bootstrap-typeahead.js"></script>#}

</body>
</html>
