<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UCSC Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->


    <!-- Used for portlets
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
        .classHeader{
            font-size: 13pt;


        }
        .classUnits, .classInstructor, .classTime{
            font-size:  small;

            display: none;
        }
        .classUnits{

            float: right;
            display: none;
        }


        .connectedSortable {
            list-style-type: none;
            margin: 0;
            padding: 0 0 2.5em;
            float: left;
            margin-right: 10px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 20px;
            font-size: small;
        }

        .ui-state-default {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            background-color: white;
            border-color: black;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(221, 221, 221);
            border-left-style: solid;
            border-left-width: 1px;
            border-right-color: rgb(221, 221, 221);
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: rgb(221, 221, 221);
            border-top-style: solid;
            border-top-width: 1px;
            text-align: left;
            vertical-align: top;

        }

        .ui-state-highlight {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            background-color: black;
            text-align: left;
            vertical-align: top;
            color: white;

        }


        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .schedule{

        }

        .schedule h2 {
            text-align: center;

        }

    </style>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">


    <!-- for top dragable ui lists -->
    <script>
        $(function() {
            $( "#sortable1, #sortable2, #sortable3, #sortable4" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
    {#    Code For Hiding Elements#}
    <script>
        $(document).ready(function() {
            $("#ViewInstructor").click(function () {
                $(".classInstructor").toggle();
                if ( $("span", this).text() == "View Instructor"){
                    $("#ViewInstructor span").text("Hide Instructor");
                }
                else $("span", this).text("View Instructor");
                return false;
            });

            $("#ViewTime").click(function () {
                $(".classTime").toggle();
                if ( $("span", this).text() == "View Time"){
                    $("#ViewTime span").text("Hide Time");
                }
                else $("span", this).text("View Time");
                return false;
            });

            $("#ViewUnits").click(function () {
                $(".classUnits").toggle();
                if ( $("span", this).text() == "View Units"){
                    $("#ViewUnits span").text("Hide Units");
                }
                else $("span", this).text("View Units");
                return false;
            });

            $("#extrabutton").click(function () {

                $("#extras").toggle('show');


                return false;
            });

            $("#toggleView").click(function (){
                $('.accordion-body').each(function(){
                    if ($(this).hasClass('in')) {
                        $(this).collapse('toggle');
                    }
                    else $(this).collapse('toggle');
                });

            })
        });
    </script>


</head>

<body style="zoom: 1;" class=" hasGoogleVoiceExt">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">UCSC Planner</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if is_logged_in %}
                    <li class="active"><a href="/dashboard">Home</a></li>
                    {% else %}
                    <li class="active"><a href="/">Home</a></li>
                    {% endif %}
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <form class="navbar-form pull-right">
{#                    <input class="span2" type="text" placeholder="Email">#}
{#                    <input class="span2" type="password" placeholder="Password">#}
                    <button class="btn" type="button" onclick="self.location='{{   logURL|safe}}'"> {% if is_logged_in %}
                        Logout of {{name}}     {% else %} Login  <img src="/static/img/cruzid_blue60.png" style="zoom: 100%;" > {% endif %}</button>

                </form>

                </form>
            </div> <!--/.nav-collapse -->
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add a Class</h3>
    </div>
    <div class="modal-body">
        <p>Class Selection Tool here: </p>
        <input type="text" data-provide="typeahead">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3">
            <div>
{#            <div style="background-color: beige">#}
                <h2>News + Info</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus a cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <h2>Major Progress</h2>
                <div class="progress progress-striped">
                    <div class="bar" style="width: 20%;"></div>
                </div>
                <h2>Additional Notes:</h2>
                <p>"But I must explain to you ..."Launch demo modal</a></p>
            </div>
        </div>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="span9">
        <div>
{#            <div> style="background-color: beige">#}
                <div class="row offset1">

                    <div class="btn-group">
                        <button href="#" class="btn  btn-small"><span class="ui-button-text">Overview &raquo;</span></button>
                        <button href="#" class="btn  btn-small"><span class="ui-button-text">Print &raquo;</span></button>
                        <button href="#" class="btn  btn-small"><span class="ui-button-text">Edit &raquo;</span></button>
                        <button href="#" id="extrabutton" class="btn btn-small"><span class="ui-button-text">Experiemental Extras &raquo;</span></button>
                    </div>
                    <div class="btn-group" id="extras" data-toggle="buttons-checkbox" style="display: none">
                        <button type="button" id="ViewInstructor" class="btn  btn-small"><span class="ui-button-text">View Instructor</span> </button>
                        <button type="button" id="ViewTime" class="btn  btn-small"><span class="ui-button-text">View Time</span> </button>
                        <button type="button" id="ViewUnits" class="btn  btn-small"><span class="ui-button-text">View Units</span> </button>
                        <button type="button" id="toggleView" class="btn  btn-small"><span class="ui-button-text">Toggle View</span> </button>
                    </div>

                </div>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                <div class="row">
                                    <h3 style="text-align:center;" >2013 - 2014</h3>
                                </div>

                            </a>
                        </div>

                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">


                                <div class="">
                                    <table class="table table-bordeed">
                                        <thead>
                                        <tr>
                                            <th>Fall</th>
                                            <th>Winter</th>
                                            <th>Spring</th>
                                            <th>Summer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>

                                                <ul id="sortable1" class="connectedSortable">
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYS 5A <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Instructor Name<br></div>
                                                        <div class="classTime">MWF 12-2pm<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYS 5L <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Lab Instructor Name<br></div>
                                                        <div class="classTime">TH 8:30am-10am<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 12B <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 12L <span class="classUnits badge badge-success">2</span> </div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">TBA<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPE 16 <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">T. Larabee<br></div>
                                                        <div class="classTime">MWF 9:30-10:40am<br></div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                {#                                <ul id="sortable2" class="connectedSortable">#}
                                                {#                                <li class="ui-state-highlight" style>HCI 131</li>#}
                                                {#                                <li class="ui-state-highlight">CMPS101</li>#}
                                                {#                                <li class="ui-state-highlight">Math 21</li>#}
                                                <ul id="sortable2" class="connectedSortable">
                                                    <li class="ui-state-highlight">
                                                        <div class="classHeader">HCI 131 <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Instructor Name<br></div>
                                                        <div class="classTime">MWF 12-2pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 101 <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">M. Warmuth<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">Math 21 <span class="classUnits badge badge-success">5</span> </div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">TBA<br></div>
                                                    </li>
                                                    {#                                    </ul>#}
                                                </ul>
                                            </td>
                                            <td>
                                                <ul id="sortable3" class="connectedSortable">
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYSC 5C <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">Namme<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-highlight">
                                                        <div class="classHeader">DANM 250C<span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">J. Parker<br></div>
                                                        <div class="classTime">TBA<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYSC 5L <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Lab Instructor Namme<br></div>
                                                        <div class="classTime">TH 8:00am-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">AMS <span class="classUnits badge badge-success">5</span> </div>
                                                        <div class="classInstructor">MeowNelson<br></div>
                                                        <div class="classTime">MWF 12:00-1:40pm<br></div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul id="sortable4" class="connectedSortable">
                                                    <li class="ui-state-default">Summer Session Stuff</li>
                                                    <li class="ui-state-default">PHYSC 5C/L</li>
                                                    <li class="ui-state-default">AMS 20</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal"  data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse"  href="#collapseTwo">
                            <div class="row">
                            <h3 style="text-align:center;" >2013 - 2014</h3>
                            </div>
                            </a>
                        </div>

                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">

                                <div class="">
                                    <table class="table table-bordeed">
                                        <thead>
                                        <tr>
                                            <th>Fall</th>
                                            <th>Winter</th>
                                            <th>Spring</th>
                                            <th>Summer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>

                                                <ul id="sortable1" class="connectedSortable">
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYS 5A <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Instructor Name<br></div>
                                                        <div class="classTime">MWF 12-2pm<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYS 5L <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Lab Instructor Name<br></div>
                                                        <div class="classTime">TH 8:30am-10am<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 12B <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 12L <span class="classUnits badge badge-success">2</span> </div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">TBA<br></div>

                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPE 16 <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">T. Larabee<br></div>
                                                        <div class="classTime">MWF 9:30-10:40am<br></div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                {#                                <ul id="sortable2" class="connectedSortable">#}
                                                {#                                <li class="ui-state-highlight" style>HCI 131</li>#}
                                                {#                                <li class="ui-state-highlight">CMPS101</li>#}
                                                {#                                <li class="ui-state-highlight">Math 21</li>#}
                                                <ul id="sortable2" class="connectedSortable">
                                                    <li class="ui-state-highlight">
                                                        <div class="classHeader">HCI 131 <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Instructor Name<br></div>
                                                        <div class="classTime">MWF 12-2pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">CMPS 101 <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">M. Warmuth<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">Math 21 <span class="classUnits badge badge-success">5</span> </div>
                                                        <div class="classInstructor">W. Mackey<br></div>
                                                        <div class="classTime">TBA<br></div>
                                                    </li>
                                                    {#                                    </ul>#}
                                                </ul>
                                            </td>
                                            <td>
                                                <ul id="sortable3" class="connectedSortable">
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYSC 5C <span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">Namme<br></div>
                                                        <div class="classTime">T/TH 5-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-highlight">
                                                        <div class="classHeader">DANM 250C<span class="classUnits badge badge-success">5</span><br></div>
                                                        <div class="classInstructor">J. Parker<br></div>
                                                        <div class="classTime">TBA<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">PHYSC 5L <span class="classUnits badge badge-success">1</span><br></div>
                                                        <div class="classInstructor">Lab Instructor Namme<br></div>
                                                        <div class="classTime">TH 8:00am-6:45pm<br></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        <div class="classHeader">AMS <span class="classUnits badge badge-success">5</span> </div>
                                                        <div class="classInstructor">MeowNelson<br></div>
                                                        <div class="classTime">MWF 12:00-1:40pm<br></div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul id="sortable4" class="connectedSortable">
                                                    <li class="ui-state-default">Summer Session Stuff</li>
                                                    <li class="ui-state-default">PHYSC 5C/L</li>
                                                    <li class="ui-state-default">AMS 20</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal"  data-toggle="modal">Add Course</a></th>
                                            <th><i class="icon-plus-sign"></i>&nbsp;<a href="#myModal" data-toggle="modal">Add Course</a></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>


{#                <div class="row">#}
{#                    <h3 class="schedule" style="text-align:center;" > 2012 - 2013 </h3>#}
{#                </div>#}




            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Company 2013</p>

    </footer>
</div> <!-- /container -->


</body>
</html>
