<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UCSC Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->


    <!-- Used for portlets
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet">
-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/intro.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/introjs.css" rel="stylesheet">

    <style type="text/css">
        .classHeader{
            font-size: 13pt;
        }
{#        Sets these elements to be hidden initially...#}
        #changeMajor, .courseRemove, .classUnits, .classInstructor, .classTime{
            font-size:  small;

            display: none;
        }

        .classUnits{

            float: right;
            display: none;
        }

        .droptrue {
            min-height: 30px;

        }


        .connectedSortable {
            list-style-type: none;
            margin: 0;
            padding: 0 0 2.5em;
            float: left;
            margin-right: 10px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 20px;
            font-size: small;
{#            min-height: 30;#}


        }
        .zlist{
{#            min-height: 100px;#}
        }
        .ui-state-default {
            min-height: 30px;
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 100px;
            background-color: white;
            border-color: black;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(221, 221, 221);
            border-left-style: solid;
            border-left-width: 1px;
            border-right-color: rgb(221, 221, 221);
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: rgb(221, 221, 221);
            border-top-style: solid;
            border-top-width: 1px;
            text-align: left;
            vertical-align: top;
            -moz-border-radius: 5px;
            border-radius: 5px;

        }

        .ui-state-highlight {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            background-color: black;
            text-align: left;
            vertical-align: top;
            color: white;

        }
        .ui-state-highlight2 {
            visibility: hidden;
            display: hidden;
            margin: 0 0px 5px 5px;
            padding: 5px;
            font-size: 0em;
            width: 120px;
            background-color: black;
            text-align: left;
            vertical-align: top;
            color: white;
            min-width: 142.22222900390625px;;
{#            max-width: 100px;;#}
        }



        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .schedule{

        }

        .schedule h2 {
            text-align: center;

        }

        @media screen {
            #printSection {
                display: none;
            }
        }

        @media print {
            body * {
                visibility:hidden;
            }
            #printSection, #printSection * {
                visibility:visible;
            }
            #printSection {
                position:absolute;
                left:0;
                top:0;
            }
        }
        td{
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <script>
    $(function() {
        $(".connectedSortable" ).sortable({

            {#                            $( "#Fall12, #Fall13, #Winter13, #Winter14, #Spring13, #Spring14, #Summer13, #Summer14, #sortable2, #sortable3, #sortable4" ).sortable({#}
            connectWith: ".connectedSortable",
            dropOnEmpty: true

        }).disableSelection();

    });
        var initialclassload;
        $(document).on('click', ".courseRemove", function(){
                objA = $(this).parent();
                currentId = $(objA).parent().attr('id');
{#                                alert(currentId);#}
                coursename = objA.text();
                coursename = coursename.substring(0, coursename.length - 2);
                {#                alert(coursename);#}
                $('#classToRemove').empty();
                $("#classToRemove").html("Are you sure you want to remove " + coursename + " ?");
                $('#confirmRemoveModal').removeAttr('courseID');
                $('#confirmRemoveModal').attr('courseID', currentId);
                $('#confirmRemoveModal').modal('show');
            });

        $(document).ready(function() {
{#            $("#demo").toggle('hide');#}
{##}
{#            introJs().oncomplete(function() {#}
{#                alert('hi');#}
{#                $("#demo").toggle('hide');#}
{#            });#}

            // Updates the change button when you mess with the sortable
            $( ".connectedSortable" ).sortable({
                droponEmpty: true,
                {#            $( "#Fall12, #Fall13, #Winter13, #Winter14, #Spring13, #Spring14, #Summer13, #Summer14, #sortable2, #sortable3, #sortable4" ).sortable({#}
                change: function(event, ui) {
                    updateChanges(true);
                }

            });


            $( ".connectedSortable" ).sortable( "option", "dropOnEmpty", true );
            $("#extrabutton").click(function () {
                $("#extras").toggle('show');
                return false;
            });

            $("#ViewInstructor").click(function () {
                $(".classInstructor").toggle();
                if ( $("span", this).text() == "View Instructor"){
                    $("#ViewInstructor span").text("Hide Instructor");
                }
                else $("span", this).text("View Instructor");
                return false;
            });
            $("#ViewTime").click(function () {
                $(".classTime").toggle();
                if ( $("span", this).text() == "View Time"){
                    $("#ViewTime span").text("Hide Time");
                }
                else $("span", this).text("View Time");
                return false;
            });
            $("#ViewUnits").click(function () {
                $(".classUnits").toggle();
                if ( $("span", this).text() == "View Units"){
                    $("#ViewUnits span").text("Hide Units");
                }
                else $("span", this).text("View Units");
                return false;
            });
{#            when you click the specific edit button...#}
            $("#edit").click(function () {
                $("#changeMajor").toggle();
                $(".courseRemove").toggle();     // this actually changes the display
                // the rest updates the text on the button
                if ( $("span", this).text() == "Edit"){
                    $("#edit span").text("Exit Editing");
                }
                else $("span", this).text("Edit");
                return false;
            });

{#            $(".courseRemove").click( function() {#}
{#                alert("hi");#}
{#                objA = $(this).parent();#}
{#                currentId = $(objA).parent().attr('id');#}
{#                coursename = objA.text();#}
{##}
{#                alert(coursename);#}
{#                coursename = coursename.substring(0, coursename.length - 2);#}
{#                alert(coursename);#}
{##}
{#                $('#classToRemove').empty();#}
{#                $("#classToRemove").html("Are you sure you want to remove " + coursename + " ?");#}
{#                $('#confirmRemoveModal').removeAttr('courseID');#}
{#                $('#confirmRemoveModal').attr('courseID', currentId);#}
{#                $('#confirmRemoveModal').modal('show');#}
{#            });#}

            $("#removeClassSerious").click(function (){
                courseID = $('#confirmRemoveModal').attr('courseID');
                $('#'+courseID).remove();
                $('#confirmRemoveModal').modal('hide');
                updateChanges(true);
            })
{#            Should figure out what we want to do with this stuff... like how the view settings will work#}
{#            do we still use toggleView? #}
            $("#toggleView").click(function (){
                if (($(this)).hasClass('active')){

                };
                $('.accordion-body').each(function(){
                    if ($(this).hasClass('in')) {
                        $(this).collapse('toggle');
                    }
                    else $(this).collapse('toggle');
                });
                $('.accordion-body').first().collapse('show');
            })


            $('.accordion-body').each(function(){
                   $(this).collapse('show');
            });


                            firstToggle = true;
            function viewAll(){
                if (firstToggle){

                $('.accordion-body').each(function(){
                    if ($(this).hasClass('in')) {

                    }
                    else $(this).collapse('toggle');
                });
                    firstToggle = false;
                }
            }
            viewAll();
            $("#overView").click(function (){
                viewAll();
                $('.accordion-body').each(function(){
                    if ($(this).hasClass('in')) {
                    }
                    else $(this).collapse('toggle');
                });
            })

            var subjects = {{ available|safe }};
            $('#classSearch').typeahead({source: subjects});

            $(".addClass").click( function() {
                var currentID = ($(this).attr('id'));
                currentID = currentID.substring(0, currentID.length - 1);
                $('#myModal').removeAttr('coursenum');
                $('#myModal').attr('coursenum', currentID);
                $('#myModal').modal('show');
            });

            $("#theAdder").click( function() {
                $('#myModal').modal('hide');
                var currentID = $('#myModal').attr('coursenum');
                var classNumber = $('#classSearch').val();
                var classname = classNumber.split(/\s*\-\s*/g);
{#                alert(currentID);#}
                classAdder(currentID, classname[0]);
            });
            function classAdder(id, course){
                if ( $("span", $('#edit')).text() == "Edit"){
                }
                else {
                    $("#edit").click();
                }
                course = course.toUpperCase();
                numEle = $('#'+ id + " li").size();
                updateChanges(true);
                $('#'+ id).prepend('<li class="ui-state-default" id="' + id + 'Class' + numEle + '">' +
                        '<div class="classHeader">'
                        + course +' ' +
                        '<span class="classUnits badge badge-success">1</span><span class="courseRemove pull-right" style="display:none;"><i class="icon-minus-sign"></i></span> <br>' +
                        '</div>' + '<div class="classInstructor">Instructor Name<br></div>' +
                        ' <div class="classTime">MWF 12-2pm<br></div>' +
                        '</li>');
                content = "<br><br><br><br><br><br><br><br><br><br><br><br><br>"
                $("#classInfo").empty().append(content);
                $('#classSearch').val('')

            };

            $("#btnPrint").click( function() {
                {#                $('#accordion2').clone(true).appendTo('#printHere');#}
                printElement(document.getElementById("accordion2"));
                {#                printElement(document.getElementById("printThisToo"), true, "<hr />");#}
                window.print();
            });


            $("#demo").click( function() {
                introJs().start();
            });


            function printElement(elem, append, delimiter) {
                var domClone = elem.cloneNode(true);
                var $printSection = document.getElementById("printSection");
                if (!$printSection) {
                    var $printSection = document.createElement("div");
                    $printSection.id = "printSection";
                    document.body.appendChild($printSection);
                }
                if (append !== true) {
                    $printSection.innerHTML = "";
                }
                else if (append === true) {
                    if (typeof (delimiter) === "string") {
                        $printSection.innerHTML += delimiter;
                    }
                    else if (typeof (delimiter) === "object") {
                        $printSection.appendChlid(delimiter);
                    }
                }
                $printSection.appendChild(domClone);
            }

            $("#saveChanges").click( function() {
                $('#saveChanges').button('loading');
                var classlist = [];
                $('.connectedSortable').each(function(){
                    var classname = '';
                    $(this).find('li').each(function(){
                        var current = $(this);
                        var currentQuarter = current.parent().attr('id');
                        var currentHeader = $(this).children('.classHeader');
                        currentHeader = currentHeader.text();
                        currentHeader = currentHeader.replace(/\s+/g, '');
                        currentHeader = currentHeader.substring(0,currentHeader.length - 1);
                        classlist.push(currentHeader + ',' + currentQuarter)
                    });
                });
                {#                Going to want to get rid of this eventually #}
{#                alert(classlist);#}
                $.post("/dashboard", { 'courses' : classlist } )
                        .done(function(data) {
                            updateChanges(false);
                            $(window).unbind('beforeunload');
{#                            Going to want to get ride of this alert eventually too#}
{#                            alert("Data Loaded: " + data);#}
                        });
            });

            function updateChanges(toggle){
                $(window).bind('beforeunload', function (event) {
                    return "You've made changes that haven't been saved!";
                });
                if (toggle){
                    $('#saveChanges').button('changes')
                    $('#saveChanges').attr('class', 'btn  btn-small btn-warning pull-right')
                    }
                else {
                    $('#saveChanges').button('reset')
                    $('#saveChanges').attr('class', 'btn  btn-small btn-primary pull-right')
                }
            }

            $("#searchForm").submit(function(event) {

                /* stop form from submitting normally */
                event.preventDefault();

                var $form = $( this ),
                        term = $form.find( 'input[name="classSearcher"]' ).val(),
                        url = $form.attr( 'action' );

                /* Send the data using post */
                var posting = $.post( url, { s: term } );

                /* Put the results in a div */
                posting.done(function( data ) {
                    var content = $( data )
                    $("#classInfo").empty().append(content);
                });
            });

        });

    </script>


</head>



<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">UCSC Planner</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if is_logged_in %}
                    <li class="active"><a href="/dashboard">Home</a></li>
                    {% else %}
                    <li class="active"><a href="/">Home</a></li>
                    {% endif %}
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <form class="navbar-form pull-right">
{#                    <input class="span2" type="text" placeholder="Email">#}
{#                    <input class="span2" type="password" placeholder="Password">#}
                    <button class="btn btn-primary" type="button" onclick="self.location='{{   logURL|safe}}'"> {% if is_logged_in %}
                        Logout of {{name}}     {% else %} Login  <img src="/static/img/cruzid_blue60.png" style="zoom: 100%;" > {% endif %}</button>

                </form>

                </form>
            </div> <!--/.nav-collapse-->
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add a Class</h3>
    </div>
    <div class="modal-body">
        <p>Type a course name or number to add it.</p>
{#        <div class="input-prepend">#}
{#            <span class="add-on"><i class="icon-search"></i></span>#}
{#            <input type="text" id="classSearch" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" placeholder="AMS20, CMPS12B, etc.">#}
{##}
{#        </div>#}
{#        #}
        <form class="form-search"  id="searchForm" action="/search">
            <div class="input-append">
                <input type="text" name="classSearcher" id="classSearch" class="span3 search-query" style="margin: 0 auto;" data-provide="typeahead" data-items="4" placeholder="AMS20, CMPS12B, etc.">
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
            </div>
        </form>
        <div id="classInfo">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="theAdder">Add Class</button>
        </div>
    </div>


</div>

<div id="confirmRemoveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="confirmRemoveModalLabel">Remove Class?</h3>
    </div>
    <div class="modal-body">

        <div id="classToRemove">AMS2000</div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" id="removeClassSerious"><i class="icon-trash icon-white"></i> Remove Class</button>
    </div>

</div>

<div class="container" >

{#                                >#}
    <div class="row">
        <div class="span3">
            <div>
{#            <div style="background-color: beige">#}
{#                <h1  class="">Intro<span style="font-weight: normal;">.js</span></h1>#}
                <div data-step="1" data-intro="Get the latest information about enrollement here!" data-position="bottom">
                <h2>News + Info</h2>

                <p><small>Last Day to drop a class: April 5th
                <br>
                   Spring Enrollement Opens: March 1st
                <br></small>
                </p>
                </div>
                <div data-step="2" data-intro="Your current progress for your major or minor can be seen here!" >
                <hr>
                {% if major2 %}
                    <h3> Majors:</h3> <a class="btn btn-small"  href="/selectMajor" id="changeMajor">Edit Major & Minor Selection <i class="icon-edit"></i></a>
                {% else %}
                    <h3> Major:</h3> <a class="btn btn-small"  href="/selectMajor" id="changeMajor">Edit Major & Minor Selection <i class="icon-file"></i></a>
                {%  endif %}

                <h4>{{ major1 }} </h4>
                <div class="progress progress-striped" style="width:95%">
                    <div class="bar" style="width: {{m1prog}}%;"></div>
                </div>
                {% if major2 %}
                    <h4>{{ major2 }} </h4>
                    <div class="progress progress-striped" style="width:95%" >
                        <div class="bar" style="width: {{m2prog}}%;"></div>
                    </div>
                {%  endif %}
                {% if major3 %}
                    <h4>{{ major3 }} </h4>
                    <div class="progress progress-striped" style="width:95%" >
                        <div class="bar" style="width: {{m3prog}}%;"></div>
                    </div>
                {%  endif %}
            <hr>
                {% if minor2 %}
              <h3> Minors :</h3>
                {% else %}
                    {% if minor1 %}
                    <h3> Minor :</h3>
                        {% endif %}
                {%  endif %}

                {% if minor1 %}
                    <h4>{{ minor1 }} </h4>
                    <div class="progress progress-striped" style="width:95%" >
                        <div class="bar" style="width: {{mi1prog}}%;"></div>
                    </div>
                {%  endif %}
                {% if minor2 %}
                    <h4>{{ minor2 }} </h4>
                    <div class="progress progress-striped" style="width:95%" >
                        <div class="bar" style="width: {{mi2prog}}%;"></div>
                    </div>
                {%  endif %}
                {% if minor3 %}
                    <h4>{{ minor3 }} </h4>
                    <div class="progress progress-striped" style="width:95%" >
                        <div class="bar" style="width: {{mi3prog}}%;"></div>
                    </div>
                {%  endif %}
                <hr>
                </div>
                <div data-step="3" data-intro="Other useful links:" data-position="right">
                <h3>Additional Notes:</h3>
                <p>Other relevant information to students...</p>
                <ul>
                <li><a href="my.ucsc.edu">My UCSC</a><br></li>
                <li><a href="http://registrar.ucsc.edu/soc/">Registrar </a></li>
                <li><a href="ecommons.ucsc.edu">ECommons</a><br></li>
                </ul>
                    </div>
            </div>
        </div>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="span9">
        <div>
{#            <div> style="background-color: beige">#}
                <div class="row offset1" data-step="6" data-intro="And that's the gist of things. Thanks for giving UCSC planner a try!" data-position="bottom">
{#                    <div>#}

                    <div class="btn-group"  data-step="4" data-intro="Toolbar: Click the overview button to expand all quarters. The edit button allows you to remove courses and change your major or minor. "  >
                        <button href="#" class="btn btn-success btn-small pull-left" id="demo">Demo! </button>
                        <button href="#" class="btn  btn-small" id="overView"><span class="ui-button-text">Overview </span></button>
                        <button href="#" class="btn  btn-small" id="btnPrint" ><span class="ui-button-text">Print </span><i class="icon-print"></i> </button>
                        <button href="#" class="btn  btn-small" id="edit"><span class="ui-button-text">Edit</span> <i class="icon-pencil"></i></button>
                        <button href="#" id="extrabutton" class="btn btn-small"><span class="ui-button-text">Experimental Extras &raquo;</span></button>
                    </div>

                    <button href="#" class="btn  btn-small btn-primary pull-right" id="saveChanges" data-loading-text="Saving <i class='icon-file'></i>" data-changes-text="Save Changes <i class='icon-file'></i>"><span class="ui-button-text">Saved</span><i class="icon-file"></i> </button>

                    <div class="btn-group" id="extras" data-toggle="buttons-checkbox" style="display: none">
                        <button type="button" id="ViewInstructor" class="btn  btn-small"><span class="ui-button-text">View Instructor</span> </button>
                        <button type="button" id="ViewTime" class="btn  btn-small"><span class="ui-button-text">View Time</span> </button>
                        <button type="button" id="ViewUnits" class="btn  btn-small"><span class="ui-button-text">View Units</span> </button>
{#                        <button type="button" id="ViewMinus" class="btn  btn-small"><span class="ui-button-text">View Remove Buttons</span> </button>#}
                        <button type="button" id="toggleView" class="btn  btn-small"><span class="ui-button-text">Toggle View</span> </button>

                    </div>

                </div>
                </div>
        <div class="row"><br></div>

        <p> <small><i> </i></small></p>
                <div class="accordion" id="accordion2">

        {% for year, quarters in allyears %}

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse"  href="#collapse{{ year }}">
                            <div class="row">
                            <h3 style="text-align:center;" >20{{ year|add:"-1" }} - 20{{ year }}</h3>
                            </div>
                            </a>
                        </div>

                        <div id="collapse{{ year }}" class="accordion-body collapse">
                            <div class="accordion-inner">

                                <div class="">
                                    <table class="table table-bordered" style='width: 100px;'>
                                        <thead >
                                        <tr>
                                            <th >Fall '{{ year|add:"-1" }}</th>
                                            <th >Winter '{{ year }}</th>
                                            <th >Spring '{{ year }}</th>
                                            <th >Summer '{{ year }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>{% for quarter, classes in quarters %}
                                            <td>
                                                <ul id="{{ quarter }}" class="connectedSortable zlist">

                                                    {% for class in classes %}


                                                    <li class="ui-state-default" id="{{ class }}{{ quarter }}{{ year }}">
                                                        <div class="classHeader">{{ class }} <span class="classUnits badge badge-success">5</span><span class="courseRemove pull-right" style="display:none;"><i class="courseRemove pull-right icon-minus-sign"></i></span><br></div>
                                                        <div class="classInstructor">Instructor Name<br></div>
                                                        <div class="classTime">MWF 12-2pm<br></div>
                                                    </li>

                                                    {% endfor %}
                                                    <li class="ui-state-highlight2 ui-state-disabled">
                                                        <p> </p>
                                                    </li>
                                                </ul>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                        <tfoot >
                                        <tr>
{#                                            <th><i class="icon-plus-sign"></i>&nbsp;<a class="addClass" id="Fall{{ year|add:"-1" }}B" href="#" >Add Course</a></th>#}
                                            <th {% if forloop.counter == 1 %} data-step="5" data-intro="Click here to add a course to this quarter, Fall 2011" data-position="left"{% endif %}
                                                    ><a class="addClass" id="Fall{{ year}}B" href="#" ><i class="icon-plus-sign"></i> Add Course</a></th>
                                            <th><a class="addClass" id="Winter{{ year }}B" href="#" ><i class="icon-plus-sign"></i> Add Course</a></th>
                                            <th><a class="addClass" id="Spring{{ year }}B" href="#" ><i class="icon-plus-sign"></i> Add Course</a></th>
                                            <th><a class="addClass" id="Summer{{ year }}B" href="#" ><i class="icon-plus-sign"></i> Add Course</a></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
        {% endfor %}


{#                        //last repeated value#}

                    </div>






            </div>
        </div>
    </div>
    <hr>
<div class="container">
<row class="span12 text-center">
    <footer >
        <p >&copy; HCI 2013</p>
{#        <p> {%  for year in years %}#}
{#            {{ year }}<br>#}
{#            {%  endfor %}#}
{#            <br><br>#}
{#            {%  for q1, q2, q3, q4 in shortyears %}#}
{#                {{ q1 }} {{ q2 }} {{ q3 }} {{ q4 }}<br>#}
{#            {%  endfor %}#}
{#<br><br>#}    <p>

{#        {% for year, quarters in allyears %}#}
{#            Year: {{ year }} <br>#}
{#            {% for quarter, classes in quarters %}#}
{#                Quarter: {{ quarter }} <br>#}
{#                    Classes:#}
{#                    {% for class in classes %}#}
{#                         {{ class }} <br>#}
{#                    {% endfor %}#}
{##}
{##}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#              {% for year, quarter in allyears %}#}
{#                    {{ year }} <br>#}
{#                        {% for classes in quarter %}#}
{#                            {%  for class in classes %}#}
{#                                {{ class }} <br>#}
{#                            {% endfor %}#}
{#                        {% endfor %}#}
{#              {% endfor %}#}
    </p>
{#            {%  for year in curr %}#}
{#                {% for quarter in year %}#}
{#                    {% for class in quarter %}#}
{#                        {% for class2 in class %}#}
{#                            {% for class3 in class2 %}#}
{#                                {{ class3 }}<br>#}
{#                            {% endfor %} #}
{#                        {% endfor %} #}
{#                    {% endfor %} #}
{#                {% endfor %}#}
{#            {%  endfor %}#}
<br><br><br>
{#            {{ logging }}#}
        </p>
    </footer>

</div> <!-- /container -->
</row>
</div>
</body>
</html>
